<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-8 offset-2">
        <br><br>
        <h3>Add New Listing</h3>

        <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            
            <!-- Title -->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" 
                       id="title" 
                       name="listing[title]" 
                       placeholder="Enter the title" 
                       class="form-control" 
                       required>
                <div class="invalid-feedback">Please enter a title.</div>
                <div class="valid-feedback">
      Looks good!
    </div>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" 
                          name="listing[description]" 
                          class="form-control" 
                          rows="4" 
                          required></textarea>
                <div class="invalid-feedback">Please enter a description.</div>
            </div>

            <!-- Image URL -->
            <!-- <div class="mb-3">
                <label for="image" class="form-label">Image URL/Link</label>
                <input type="text" 
                       id="image" 
                       name="listing[image][url]" 
                       placeholder="Enter image URL" 
                       class="form-control">
            </div> -->

            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input type="file" 
                       id="image" 
                       name="listing[image]" 
                       class="form-control">
                       required
            </div>

            <!-- Price -->
             <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input  
                       id="price" 
                       name="listing[price]" 
                       placeholder="4000" 
                       class="form-control" 
                       required>
                <div class="invalid-feedback">Please enter a valid price.</div>
            </div>

            <!-- Country -->
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" 
                       id="country" 
                       name="listing[country]" 
                       placeholder="Pakistan" 
                       class="form-control" 
                       required>
                <div class="invalid-feedback">Please enter a country.</div>
            </div>
            </div>
            <!-- Location -->
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" 
                       id="location" 
                       name="listing[location]" 
                       placeholder="Lahore, Pakistan" 
                       class="form-control" 
                       required>
                <div class="invalid-feedback">Please enter a location.</div>
            </div>

            <!-- Submit -->
            <button class="btn btn-dark add-btn">Add Listing</button>
        </form>
    </div>
    
</div>